*{
    box-sizing: border-box;
    margin: 0;
 }
.ti {text-align: center;}
.cont { width: 100%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;}
    .po{
        float:left;
    }
#p1 { 
    color:blue;
    background-color: #ffffff;
    width: 33%;
    height: 100px;
    border:5px solid black;
    text-align: center;
    
}
#p2 { color:green;
    background-color: #ffffff;
    border:5px solid black;
    width: 33%;
    height: 100px;
    text-align: center;
}
#p3 { color:red;
    background-color: #fffbfb;
    width: 33%;
    height:100px;
    border:5px solid black;
    text-align: center;
}
@media (min-width: 992px) {
    #p1 { 
        
        width: 33%;
}
#p2 { 
        
    width: 33%;
}
#p3 { 
        
    width: 33%;
}

}
@media (max-width: 991px) {
    #p1 { 
        
        width: 50%;
}
#p2 { 
        
    width:50%;
}
#p3 { 
        
    width: 50%;
}

}
@media (max-width:767px) {
    #p1 { 
        
        width: 100%;
}
#p2 { 
        
    width:100%;
}
#p3 { 
        
    width: 100%;
}

}